---
import { listLocales, getString, getNews, getFaq } from "../i18n";
export function getStaticPaths() {
  return listLocales().map((locale) => {
    return {
      params: {
        lang: locale,
      },
    };
  });
}

import { Image } from "astro:assets";
import dayjs from "dayjs";
import { Icon } from "astro-icon/components";

import Layout from "@layouts/Layout.astro";

import cuttingMat from "@assets/cuttingMat.png";
import banner from "@assets/banner-resized.png";
import kaoshiungBanner from "@assets/khlogo.png";
import microLectureBanner from "@assets/taiwan-assist-banner.png";
import hackclubBanner from "@assets/hackclub.png";

import { twMerge } from "tailwind-merge";

const news = getNews(Astro.params.lang).news;
const faq = getFaq(Astro.params.lang).faq;
const t = getString(Astro.params.lang);
---

<Layout
  title={t("meta.title")}
  longerTitle={t("meta.longerTitle")}
  description={t("meta.description")}
>
  <div
    class="-z-20 min-h-screen bg-cover bg-top bg-no-repeat drop-shadow-lg transition-all duration-500"
    id="js:hero"
    style={{ backgroundImage: `url('${cuttingMat.src}')` }}
  >
    <div class="absolute top-6 z-10 w-full px-2">
      <div
        class="mx-auto w-fit rounded-lg bg-orange-400 px-4 py-4 drop-shadow-lg md:px-8"
      >
        <p class="text-center text-sm">
          {
            getString(Astro.params.lang === "us" ? "tw" : "us")(
              "home.anotherLanguage",
            )
          }
        </p>
      </div>
    </div>

    <div
      class="flex h-screen w-full flex-col place-items-center justify-center"
    >
      <h1
        class="px-6 text-center text-3xl font-bold text-white/60 select-none md:text-4xl xl:text-5xl"
      >
        {t("home.title")}
      </h1>
      <Image
        src={banner}
        alt="Cutting Mat"
        class="h-44 w-auto p-6 drop-shadow-2xl sm:h-56 md:h-fit"
      />

      <p class="pt-16 text-center text-xl text-white md:text-2xl xl:text-3xl">
        {t("home.subtitle1")}
      </p>
      <p class="pt-2 text-center text-lg text-white md:text-xl xl:text-2xl">
        {t("home.subtitle2")}
      </p>

      <div class="mt-6 grid grid-flow-col gap-6">
        <a
          href="https://go.hackit.tw/discord"
          class="text-gray-300 transition-transform hover:scale-120 hover:drop-shadow-2xl"
        >
          <p class="sr-only">Join our Discord server</p>
          <Icon name="simple-icons:discord" class="text-3xl" />
        </a>
        <a
          href="https://www.instagram.com/hackit.tw/"
          class="text-gray-300 transition-transform hover:scale-120 hover:drop-shadow-2xl"
        >
          <p class="sr-only">Visit our Instagram page</p>
          <Icon name="simple-icons:instagram" class="text-3xl" />
        </a>
        <a
          href="https://www.threads.net/@hackit.tw"
          class="text-gray-300 transition-transform hover:scale-120 hover:drop-shadow-2xl"
        >
          <p class="sr-only">Visit our Threads page</p>
          <Icon name="simple-icons:threads" class="text-3xl" />
        </a>
      </div>
    </div>
  </div>

  <div class="pt-12 pb-8">
    <div class="mx-auto max-w-6xl px-6">
      <div>
        <div class="grid grid-cols-1 gap-6 pt-4 lg:grid-cols-3">
          <div class="rounded-xl bg-green-400 p-8 drop-shadow-md">
            <p class="text-3xl font-bold">{t("info.col1.date")}</p>
            <p class="mt-2 text-xl text-gray-800">{t("info.col1")}</p>
          </div>
          <div class="rounded-xl bg-blue-400 p-8 drop-shadow-md">
            <p class="text-3xl font-bold">{t("info.col2.date")}</p>
            <p class="mt-2 text-xl text-gray-800">{t("info.col2")}</p>
          </div>
          <div class="rounded-xl bg-amber-400 p-8 drop-shadow-md">
            <p class="text-3xl font-bold">{t("info.col3.date")}</p>
            <p class="mt-2 text-xl text-gray-800">{t("info.col3")}</p>
          </div>
        </div>
      </div>

      <div class="my-4 rounded-lg bg-gray-300 p-6 drop-shadow-sm">
        <h2 class="text-3xl font-bold">{t("news.title")}</h2>

        <div class="mt-6 [&_a]:text-blue-800 [&_a]:underline">
          {
            news.map((k, index) => {
              return (
                <>
                  {index !== 0 && (
                    <hr class="mx-[1%] my-3 h-0.5 border-t-0 bg-gray-400/50 md:mx-0 md:my-4" />
                  )}
                  <div>
                    <div class="mb-2 grid grid-cols-2 items-center">
                      <p class="text-xl font-semibold">{k.title}</p>
                      <p class="ml-auto">
                        {dayjs(k.date).format("YYYY/MM/DD")}
                      </p>
                    </div>
                    <p set:html={k.content} />
                  </div>
                </>
              );
            })
          }
        </div>
      </div>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("about.title")}
      </h2>
      <p class="text-md py-4 leading-8 md:text-lg">
        {t("about.content")}
      </p>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("about.scrapyard.title")}
      </h2>
      <p class="text-md pt-4 leading-8 md:text-lg">
        {t("about.scrapyard.content1")}
      </p><p class="text-md pb-4 leading-8 md:text-lg">
        {t("about.scrapyard.content2")}
      </p>
      {
        (
          <p class="text-md pt-4 text-right font-bold text-green-950 md:text-lg">
            {t("download.brochure.title")}
            <a
              href="/2025-brochure.pdf"
              class="text-blue-700 underline"
              target="_blank"
            >
              {t("download.brochure")}
            </a>
          </p>
        )
      }

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("apply.restrict.title")}
      </h2>
      <div class="py-4">
        <ol
          class={twMerge(
            "list-inside leading-8",
            Astro.params.lang === "tw"
              ? "list-[cjk-ideographic]"
              : "list-decimal",
          )}
        >
          <li>
            {t("apply.restrict.content.student.title")}<ul
              class="list-inside list-disc"
            >
              <li>
                {t("apply.restrict.content.student.content1")}
              </li><li>
                {t("apply.restrict.content.student.content2")}
              </li><li>
                {t("apply.restrict.content.student.content3")}
              </li>
            </ul>
          </li>
          <li>{t("apply.restrict.content.team.title")}</li>
          <li>{t("apply.restrict.content.teacher")}</li>
        </ol>
      </div>
      <p class="text-md pt-4 text-right font-bold text-green-950 md:text-lg">
        {t("download.toparents.title")}
        <a
          href="https://hackittw.notion.site/scrapyard-toparents"
          class="text-blue-700 underline"
          target="_blank"
        >
          {t("download.toparents")}
        </a>
      </p>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("flow.title")}
      </h2>
      <p class="text-md pt-4 leading-8 md:text-lg">
        {t("flow.content1")}
      </p>
      <ul class="list-inside list-disc leading-8">
        <li>{t("flow.content1.sub1")}</li>
        <li>{t("flow.content1.sub2")}</li>
        <li>{t("flow.content1.sub3")}</li>
      </ul>
      <p class="text-md pt-4 leading-8 md:text-lg">
        {t("flow.content2")}
      </p>
      <div class="mt-6 grid grid-cols-1 gap-4 md:grid-cols-2">
        <div>
          <h3
            class="mr-12 mb-4 border-b-2 border-gray-400 pb-2 text-2xl font-bold"
          >
            {t("flow.content2.selected")}
          </h3>

          <ul class="list-inside list-disc leading-8 md:border-0">
            <li>{t("flow.content2.selected.content1")}</li>
            <li>{t("flow.content2.selected.content2")}</li>
            <li>{t("flow.content2.selected.content3")}</li>
            <li>{t("flow.content2.selected.content4")}</li>
          </ul>
        </div>
        <div>
          <h3
            class="mr-12 mb-4 border-b-2 border-gray-400 pb-2 text-2xl font-bold"
          >
            {t("flow.content2.waitlist")}
          </h3>

          <ul class="list-inside list-disc leading-8">
            <li>{t("flow.content2.waitlist.content1")}</li>
            <li>{t("flow.content2.waitlist.content2")}</li>
            <li>{t("flow.content2.waitlist.content3")}</li>
            <li>{t("flow.content2.waitlist.content4")}</li>
            <li>{t("flow.content2.waitlist.content5")}</li>
            <li>{t("flow.content2.waitlist.content6")}</li>
          </ul>
        </div>
      </div>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("prize.title")}
      </h2>
      <div>
        <div class="grid grid-cols-1 gap-6 pt-4 text-white lg:grid-cols-3">
          <div
            class="rounded-xl bg-gradient-to-r from-gray-900 to-gray-800 p-8 drop-shadow-md"
          >
            <p class="text-3xl font-bold">{t("prize.first")}</p>
            <p class="mt-1">{t("prize.first.title")}</p>
            <p class="mt-2 text-xl">{t("prize.first.content")}</p>
            <p class="mt-1 text-sm text-gray-300">{t("prize.with")}</p>
          </div>
          <div
            class="rounded-xl bg-gradient-to-r from-gray-800 to-gray-700 p-8 drop-shadow-md"
          >
            <p class="text-3xl font-bold">{t("prize.second")}</p>
            <p class="mt-1">{t("prize.second.title")}</p>
            <p class="mt-2 text-xl">{t("prize.second.content")}</p>
            <p class="mt-1 text-sm text-gray-300">{t("prize.with")}</p>
          </div>
          <div
            class="rounded-xl bg-gradient-to-r from-gray-700 to-gray-600 p-8 drop-shadow-md"
          >
            <p class="text-3xl font-bold">{t("prize.third")}</p>
            <p class="mt-1">{t("prize.third.title")}</p>
            <p class="mt-2 text-xl">{t("prize.third.content")}</p>
            <p class="mt-1 text-sm text-gray-300">{t("prize.with")}</p>
          </div>
        </div>

        <div
          class="mt-4 rounded-xl bg-gradient-to-r from-fuchsia-500 to-blue-500 p-8 text-white drop-shadow-md"
        >
          <p class="text-2xl font-bold">{t("prize.special")}</p>
          <p>{t("prize.special.limit")}</p>
          <p class="mt-2 text-lg md:text-xl">{t("prize.special.content")}</p>
        </div>
      </div>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("schedule.title")}
      </h2>
      <div class="grid grid-cols-1 gap-6 pt-4 text-center lg:grid-cols-2">
        <div>
          <h3 class="py-4 text-xl font-bold md:text-2xl">
            {t("schedule.day1")}
          </h3>
          <table class="w-full table-fixed">
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.a")}</td>
              <td>{t("schedule.day1.event.a")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.b")}</td>
              <td>{t("schedule.day1.event.b")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.c")}</td>
              <td>{t("schedule.day1.event.c")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.d")}</td>
              <td>{t("schedule.day1.event.d")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.e")}</td>
              <td>{t("schedule.day1.event.e")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.f")}</td>
              <td>{t("schedule.day1.event.f")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day1.time.g")}</td>
              <td>{t("schedule.day1.event.g")}</td>
            </tr>
          </table>
        </div>
        <div>
          <h3 class="py-4 text-xl font-bold md:text-2xl">
            {t("schedule.day2")}
          </h3>
          <table class="w-full table-fixed">
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day2.time.a")}</td>
              <td>{t("schedule.day2.event.a")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day2.time.b")}</td>
              <td>{t("schedule.day2.event.b")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day2.time.c")}</td>
              <td>{t("schedule.day2.event.c")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day2.time.d")}</td>
              <td>{t("schedule.day2.event.d")}</td>
            </tr>
            <tr class="text-lg *:py-1">
              <td>{t("schedule.day2.time.e")}</td>
              <td>{t("schedule.day2.event.e")}</td>
            </tr>
          </table>
        </div>
      </div>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("about.hackclub.title")}
      </h2>
      <p class="text-md pt-4 leading-8 md:text-lg">
        {t("about.hackclub.content")}
      </p>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("assist.title")}
      </h2>

      <div class="flex flex-col place-items-center py-4">
        <a href="https://www.kh.edu.tw/">
          <Image
            src={kaoshiungBanner}
            alt="Education bureau of kaohsiung city government"
            class="h-32 w-auto"
          />
        </a>
        <a href="https://www.tmla.at.tw/">
          <Image
            src={microLectureBanner}
            alt="Taiwan Micro-Lecture Association"
            class="h-32 w-auto"
          />
        </a><a href="https://hackclub.com/">
          <Image
            src={hackclubBanner}
            alt="Hackclub banner"
            class="h-32 w-auto"
          />
        </a>
      </div>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        FAQ
      </h2>
      <div
        x-data="{ selected: null }"
        class="space-y-2 pt-4 md:grid md:grid-cols-2 md:gap-4"
      >
        {
          faq.map((k, index) => {
            return (
              <div class="transition-all duration-500">
                <button
                  @click={`selected !== ${index} ? selected = ${index} : selected = null`}
                  class="flex w-full cursor-pointer items-center justify-between rounded-lg bg-gray-100 px-4 py-3 text-left focus:ring-2 focus:ring-indigo-600 focus:outline-none"
                >
                  <span class="font-medium text-gray-800">{k.title}</span>
                  <span
                    x-show={`selected === ${index}`}
                    class="text-indigo-600"
                  >
                    -
                  </span>
                  <span
                    x-show={`selected !== ${index}`}
                    class="text-indigo-600"
                  >
                    +
                  </span>
                </button>
                <div
                  x-show={`selected === ${index}`}
                  x-transition:enter="transition-all ease-out duration-300"
                  x-transition:enter-start="opacity-0 transform scale-95"
                  x-transition:enter-end="opacity-100 transform scale-100"
                  x-transition:leave="transition-all ease-in duration-300"
                  x-transition:leave-start="opacity-100 transform scale-100"
                  x-transition:leave-end="opacity-0 transform scale-95"
                  class="mt-2 rounded-lg bg-gray-50 px-4 py-3 text-gray-700"
                  set:html={k.answer}
                />
              </div>
            );
          })
        }
      </div>

      <h2
        class="border-b-2 border-green-500 pt-8 pb-3 text-3xl font-bold md:text-4xl"
      >
        {t("about.hackit.title")}
      </h2>
      <p class="text-md pt-4 leading-8 md:text-lg">
        {t("about.hackit.content")}
      </p>

      <p class="text-md py-4 text-right font-bold text-green-950 md:text-lg">
        {t("about.hackit.learn.title")}
        <a href="https://hackit.tw/" class="text-blue-700 underline"
          >{t("about.hackit.learn.link")}
        </a>
      </p>

      <p class="text-center text-sm text-gray-500">
        {t("contact.title")} • <a
          class="text-blue-700/80 underline"
          href="mailto:official@hackit.tw">official@hackit.tw</a
        >
      </p>
    </div>
  </div>
</Layout>

<script>
  window.addEventListener(
    "scroll",
    () => {
      if (window.scrollY > 0) {
        document
          .getElementById("js:hero")
          ?.classList.add("md:rounded-b-3xl", "md:mx-5");
      } else {
        document
          .getElementById("js:hero")
          ?.classList.remove("md:rounded-b-3xl", "md:mx-5");
      }
    },
    true,
  );
</script>
